# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/

# Fichiers de travail
*.epub
*.pdf

# Environnement
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
